// SIZE DEFINITIONS

/// Player display width
/// @group layout
/// @type Layout
$player-display-width: 100%;

/// Player controls container width
/// @group layout
/// @type Layout
$player-controls-container-width: 285px;

/// Player rack height
/// @group layout
/// @type Layout
$player-rack-height: 200px;

/// Tracks height
/// @group layout
/// @type Layout
$tracks-height: 100%;

/// Volume slider width
/// @group layout
/// @type Layout
$volume-slider-width: 230px;

/// Volume slider height
/// @group layout
/// @type Layout
$volume-slider-height: 13px;

/// Track volume slider width
/// @group layout
/// @type Layout
$track-volume-slider-width: 150px;

/// Track volume slider height
/// @group layout
/// @type Layout
$track-volume-slider-height: 13px;

// COLOR DEFINITIONS

/// Main
/// @group colors
/// @type Color
$main-color: #000;

/// Main font
/// @group colors
/// @type Color
$main-font-color: #ccc;

/// Power on
/// @group colors
/// @type Color
$power-on-color: #9c0;

/// Power off
/// @group colors
/// @type Color
$power-off-color: rgba(204,0,51,0.7);

/// Function
/// @group colors
/// @type Color
$function-color: #fc3;

/// Playing
/// @group colors
/// @type Color
$playing-color: #9c0;

// TRACKS

/// Active music
/// @group colors
/// @type Color
$active-music-color: #C03;

/// Active display
/// @group colors
/// @type Color
$active-display-color: #C03;

// BUTTONS

/// Control button
/// @group colors
/// @type Color
$control-button-color: #222;

// ELAPSED TIME BAR

/// Elapsed time bar off
/// @group colors
/// @type Color
$elapsed-time-display-off: #333;

/// Elapsed time bar on
/// @group colors
/// @type Color
$elapsed-time-display-on: #999;

// VOLUME SLIDER

/// Volume slider off
/// @group colors
/// @type Color
$volume-slider-off: #222;

/// Volume slider on
/// @group colors
/// @type Color
$volume-slider-on: #222;

/// Volume slider button off
/// @group colors
/// @type Color
$volume-slider-button-off: #222;

/// Volume slider button on
/// @group colors
/// @type Color
$volume-slider-button-on: #444;

/// Volume slider button border off
/// @group colors
/// @type Color
$volume-slider-button-border-off: #222;

/// Volume slider button border on
/// @group colors
/// @type Color
$volume-slider-button-border-on: #222;

/// Volume slider button icon off
/// @group colors
/// @type Color
$volume-slider-icon-off: #333;

/// Volume slider button icon on
/// @group colors
/// @type Color
$volume-slider-icon-on: #999;

// BACKGROUNDS

/// Main background
/// @group colors
/// @type Color
$main-background-color: #000;

/// Container background
/// @group colors
/// @type Color
$container-background-color: #222;

/// Tracks container background
/// @group colors
/// @type Color
$tracks-container-background-color: #222;

/// Active display background
/// @group colors
/// @type Color
$active-display-background-color: rgba(0,0,0,0.2);

// BACKGROUND IMAGES

/// Main background
/// @group images
/// @type Image
$main-background-image: url("/assets/images/bg-main.png");

/// Player off background
/// @group images
/// @type Image
$player-off-background-image: url("/assets/images/bg-player-off.png");

/// Player on background
/// @group images
/// @type Image
$player-on-background-image: url("/assets/images/bg-player-on.png");

// BORDERS

/// Box border outter
/// @group colors
/// @type Color
$box-border-outter: #000;

/// Box border inner
/// @group colors
/// @type Color
$box-border-inner: #2b2b2b;

/// Container border dark
/// @group colors
/// @type Color
$container-border-dark: #000;

/// Container border light
/// @group colors
/// @type Color
$container-border-light: #2b2b2b;

// FONT DEFINITIONS
// main-font; header-font;

/// Main
/// @group fonts
/// @type Font
$main-font: 'Lato', sans-serif;

/// Player
/// @group fonts
/// @type Font
$player-font: 'ds-digitalnormal';