////
/// Trackplayer v 0.1
/// @author Gustavo Cardoso
////

/// Sets the border radius
/// @group mixins
/// @param {Number} $border-radius [10px] - a pixel value to round borders
/// @example scss - Basic Usage Sass
///   .round-my-border {
///     @include round-border(10px);
///   }
///
/// @example scss - Basic Usage CSS Output
///   .center-my-block-thingie {
///     -webkit-border-radius: 10px;
///     -moz-border-radius: 10px;
///     -o-border-radius: 10px;
///     border-radius: 10px;
///   }
@mixin round-border($border-radius) {
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -o-border-radius: $border-radius;
  border-radius: $border-radius;
}