////
/// Trackplayer v 0.1
/// @author Gustavo Cardoso
////

/// Sets the active button
/// @group mixins
/// @param {Hexadecimal} $font-color - a color
/// @param {Hexadecimal} $shadow-color - a shadow color
/// @example scss - Basic Usage Sass
///   .round-my-border {
///     @include buttonActive(#fff, #222);
///   }
///
/// @example scss - Basic Usage CSS Output
///   .center-my-block-thingie {
///     background-color: darken($control-button-color, 10%);
///     top: 3px;
///     color: #fff;
///     text-shadow: 0px 0px 3px rgba(#222, 1);
///     @extend %background-color-transition;
///     @extend %box-shadow;
///   }
@mixin buttonActive($font-color, $shadow-color) {
    background-color: darken($control-button-color, 10%);
    top: 3px;
    color: $font-color;
    text-shadow: 0px 0px 3px rgba($shadow-color, 1);
    @extend %background-color-transition;
    @extend %box-shadow;
}