////
/// Trackplayer v 0.1
/// @author Gustavo Cardoso
////

/// Sets the outter box
/// @group placeholders
/// @example scss - Basic Usage Sass
///   .my-box {
///     @extends %box-outter;
///   }
///
/// @example scss - Basic Usage CSS Output
///   .my-box {
///     border: 1px solid $box-border-outter;
///     @include round-border(5px);
///     overflow: hidden;
///   }
%box-outter {
  border: 1px solid $box-border-outter;
  @include round-border(5px);
  overflow: hidden;
}

/// Sets the inner box
/// @group placeholders
/// @example scss - Basic Usage Sass
///   .my-box {
///     @extends %box-outter;
///   }
///
/// @example scss - Basic Usage CSS Output
///   .my-box {
///     border: 1px solid $box-border-outter;
///     @include round-border(5px);
///     overflow: hidden;
///   }
%box-inner {
  border: 1px solid $box-border-inner;
  @include round-border(5px);
  padding: 8px;
  overflow: hidden;
}

/// Sets the control button
/// @group placeholders
/// @example scss - Basic Usage Sass
///   .my-box {
///     @extends %box-outter;
///   }
%control-button {
  display: block;
  width: 60px;
  @include fontSize(20px);
  text-align: center;
  background-color: $control-button-color;
  @include round-border(10px);
  border: 1px solid #181818;
  box-shadow: 0px 3px 0px 0px rgb(34,34,34), /* 1st Shadow */
              inset 0px 1px 1px 0px rgba(250, 250, 250, .2), /* 3rd Shadow */   
              inset 0px -12px 35px 0px rgba(0, 0, 0, .5); /* 4th Shadow */ 
  outline: none;
  cursor: pointer;
  padding: 14px 8px 8px 8px;
  @extend %color-transition;
  @extend %text-shadow-transition;

  &.button-active {
    @include buttonActive(#c03, #c03);
  }

  &.playing {
    color: $playing-color !important;
    @extend %color-transition;
    @include buttonActive($playing-color, lighten($playing-color, 20%));
  }

  &.paused {
    color: $playing-color;
    @extend %color-transition;
  }
}

/// Sets the basic slider
/// @group placeholders
/// @example scss - Basic Usage Sass
///   .my-slider {
///     @extends %basic-slider;
///   }
%basic-slider {
  input[type='range'] {
    -webkit-appearance: none !important;
    background: $volume-slider-off;
    border-bottom: #2c2c2c 1px solid;
    margin: 0;
    padding: 0;
    outline: 0;
    float: left;
  }
  
  input[type='range']::-moz-range-track {
    border: none;
    background: $volume-slider-off;
    outline: none;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 15px;
    height: 22px;
    background: $volume-slider-button-off;
    border-radius: 5px;
    border: 1px solid $volume-slider-button-border-off;
    cursor: pointer;
    outline: none;
  }

  input[type='range']::-moz-range-thumb {
    width: 15px;
    height: 24px;
    background: $volume-slider-button-off;
    border-radius: 5px;
    border: 1px solid $volume-slider-button-border-off;
    cursor: pointer;
    outline: none;
  }
}

/// Sets the basic slider on
/// @group placeholders
/// @example scss - Basic Usage Sass
///   .my-slider-on {
///     @extends %basic-slider-on;
///   }
%basic-slider-on {
  input[type='range'] {
    background: $volume-slider-on;
  }
  
  input[type='range']::-moz-range-track {
    background: $volume-slider-on;
  }

  input[type='range']::-webkit-slider-thumb {
    background: $volume-slider-button-on;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    border: 1px solid $volume-slider-button-border-on;
  }

  input[type='range']::-moz-range-thumb {
    background: $volume-slider-button-on;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    border: 1px solid $volume-slider-button-border-on;
  }
}
